.carousel-caption {
    top: 7%;
 }

 .card-img-top {
    height: 15rem;
    object-fit: cover;
}

input[type=text], input[type=password], input[type=email], input[type=tel], select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#password, #username, #name, #email, #tel{
    width: 50%;
}

#logo {
    color: rgb(177, 175, 175);
}

#banner{
    background-image: linear-gradient(to right, rgba(25, 63, 65, 0), rgb(236, 156, 28));
    text-align: center;
    font-size: 700%;
    color: whitesmoke;
    height: 110px;
}

input[type=search]{
    width: 20%;
}

#footer {
    position: fixed;
    height: 10px;
    bottom: 30px;
    right: 0px;
    margin-bottom: 30px;
    margin-right: 10px;
    width: 100%;
    font-size: 10px;
}


 
input:valid {
    border: 2px solid black;
}

.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

table, th, td{
    border: 1px solid white;
    
}

#center { 
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
}

#search{
    width: 15%;
}

.carousel-caption{
    font-size: 10px;
    display:inline-block;
    background:rgba(15, 14, 14, 0.4);
    color:#fff;
    height: 150px;
     border-style: groove;
    border-radius: 10px; 
}


img:hover {
    opacity: 0.5;
  }

  .d{
      opacity: 0.85;
  }

  @media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
       display: none
    }
  
    .carousel-inner > .item >img{
        min-height : 300px;
        max-height : 300px;
        width : 100%;
      }