.carousel-caption {
    top: 7%;
 }

 .card-img-top {
    height: 15rem;
    object-fit: cover;
}

input[type=text], input[type=password], input[type=email], input[type=tel], select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#password, #username, #name, #email, #tel{
    width: 50%;
}